.ico img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
nav a {
    margin: 0 10px;
}
a, a img {
    cursor: help;
}
a {
    color: #cccccc;
    text-decoration: none;
}
img {
    opacity: 1;
    border: none;
    text-decoration: none;
}
	ul {padding: 0;
}
#content {
	font-family: Comic Sans MS;